
OTelOnOpenShiftDemo/bin/Debug/net7.0/OTelOnOpenShiftDemo
.DS_Store
.idea/.idea.OTelOnOpenShiftDemo/.idea/.name
.vs/OTelOnOpenShiftDemo/xs/project-cache/OTelOnOpenShiftDemo-Debug.json
.vs/OTelOnOpenShiftDemo/xs/UserPrefs.xml
logs/webapi-20230626.json
logs/webapi-20230626.log
otel/otel-local-config.yaml
OTelOnOpenShiftDemo.sln.DotSettings.user
OTelOnOpenShiftDemo/bin/Debug/net7.0/Confluent.Kafka.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/Newtonsoft.Json.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/OpenTelemetry.Exporter.OpenTelemetryProtocol.Logs.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/OTelOnOpenShiftDemo.deps.json
OTelOnOpenShiftDemo/bin/Debug/net7.0/OTelOnOpenShiftDemo.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/OTelOnOpenShiftDemo.pdb
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/linux-arm64/native/librdkafka.so
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/linux-x64/native/alpine-librdkafka.so
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/linux-x64/native/centos6-librdkafka.so
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/linux-x64/native/centos7-librdkafka.so
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/linux-x64/native/librdkafka.so
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/osx-arm64/native/librdkafka.dylib
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/osx-x64/native/librdkafka.dylib
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/libcrypto-3-x64.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/libcurl.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/librdkafka.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/librdkafkacpp.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/libssl-3-x64.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/msvcp140.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/vcruntime140.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/zlib1.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x64/native/zstd.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/libcrypto-3.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/libcurl.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/librdkafka.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/librdkafkacpp.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/libssl-3.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/msvcp140.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/vcruntime140.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/zlib1.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/runtimes/win-x86/native/zstd.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/Serilog.OpenTelemetry.dll
OTelOnOpenShiftDemo/bin/Debug/net7.0/Serilog.OpenTelemetry.LoggiaConsoleSink.dll
OTelOnOpenShiftDemo/obj/Debug/net7.0/apphost
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.assets.cache
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.csproj.AssemblyReference.cache
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.csproj.CoreCompileInputs.cache
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.csproj.FileListAbsolute.txt
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.dll
OTelOnOpenShiftDemo/obj/Debug/net7.0/OTelOnOpenShiftDemo.pdb
OTelOnOpenShiftDemo/obj/Debug/net7.0/ref/OTelOnOpenShiftDemo.dll
OTelOnOpenShiftDemo/obj/Debug/net7.0/refint/OTelOnOpenShiftDemo.dll
OTelOnOpenShiftDemo/obj/OTelOnOpenShiftDemo.csproj.nuget.dgspec.json
OTelOnOpenShiftDemo/obj/project.assets.json
OTelOnOpenShiftDemo/obj/project.nuget.cache
OTelOnOpenShiftDemo/obj/project.packagespec.json
OTelOnOpenShiftDemo/obj/rider.project.restore.info
OTelOnOpenShiftDemo/Program.cs
